.circle-sketch-highlight {
    position: relative;
}

.circle-sketch2-highlight {
    position: relative;
}

.circle-sketch3-highlight {
    position: relative;
}

.circle-sketch-highlight:before {
    content: "";
    z-index: -1;
    left: -0.5em;
    top: 0;
    border-width: 6px;
    border-style: solid;
    border-color: var(--brand);
    position: absolute;
    border-right-color: transparent;
    width: 100%;
    height: 1em;
    transform: rotate(2deg);
    opacity: 0.7;
    border-radius: 50%;
    padding: 0.1em 0.25em;
}

.circle-sketch-highlight:after {
    content: "";
    z-index: -1;
    left: -0.5em;
    top: 0.2em;
    padding: 0.1em 0.25em;
    border-width: 6px;
    border-style: solid;
    border-color: var(--brand);
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    width: 100%;
    height: 1em;
    transform: rotate(-1deg);
    opacity: 0.7;
    border-radius: 50%;
}

.circle-sketch2-highlight:after {
    content: "";
    z-index: -1;
    left: -0.3em;
    top: 1em;
    padding: 0.1em 0.25em;
    border-width: 8px;
    border-style: solid;
    border-color: var(--brand);
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    width: 100%;
    height: 1em;
    transform: rotate(180deg);
    opacity: 0.7;
    border-right: 0;
    border-radius: 31%;
}

.circle-sketch3-highlight:after {
    content: "";
    z-index: -1;
    left: -0.3em;
    top: 1.1em;
    padding: 0.1em 0.25em;
    border-width: 6px;
    border-style: solid;
    border-color: var(--brand);
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    width: 100%;
    height: 1em;
    transform: rotate(181deg);
    opacity: 0.7;
    border-right: 0;
    border-radius: 5%;
}