/*
--light-gray: #f6f6f6;
--dark-gray: #2e2e2e;
--white: white;
--button-hover: #3347a0;
--button-dark: #1f2637;
--color-01-light: #b0eed8;
--color-02-light: #90e4c6;
--background-dark: #2f3545;
--darker-dark: #272d3e;
--photo-overlay: #2e419e;
--colour-02-dark: #1fdebf;
--color-01-dark: #058e98;
--dark-slate-blue: #2f354599;
 */

:root {
    --brand: #B0EED8;
    --surface: #F6F6F6;
    --on-surface: #2E2E2E;
    --on-brand: #FFF;
    --border-color: #0003;

    --display-l: 36px;
    --display-m: 33px;
    --display-s: 28px;

    --headline-m: 21px;

    --hero-paragraph: 16px;
    --small-text-expanded: 14px;

    --lable-l: 16px;

    --body-l: 14px;

    font-family: Poppins, sans-serif;
    color: var(--on-surface);
    background-color: var(--surface);

    body, p {
        margin: 0;
        padding: 0;
    }

    a {
        all: unset;
        display: inline;
    }

}

@font-face {
    font-family: Poppins;
    src: url("css/font/Poppins-Light.ttf");
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url("css/font/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("css/font/Poppins-Regular.ttf");
}

.small-text-expanded {
    font-size: var(--small-text-expanded);
    font-family: Poppins-Regular, sans-serif;
    letter-spacing: 0.07em;
}

.body-l {
    font-size: var(--body-l);
    line-height: 2.5;
    font-family: Poppins-Regular, sans-serif;
}

.hover-letter {
    font-size: 240px;
    font-family: Poppins-SemiBold, sans-serif;
}

.dash {
    padding-left: 55px;
    border-bottom: solid 1px var(--on-surface);
    margin: 0 15px 5px 15px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: var(--display-l);
}

h3 {
    margin: 0;
    padding: 0;
    font-size: var(--display-s);
}

h5 {
    margin: 0;
    padding: 0;
    font-size: var(--headline-m);
}

.cta {
    display: block;
    letter-spacing: 0.1em;
    width: 320px;
    height: 74px;
    background-color: var(--on-surface);
    color: var(--on-brand);
    text-align: center;
    line-height: 74px;
    font-size: var(--lable-l);
    font-family: Poppins-SemiBold, sans-serif;
    cursor: pointer;
}

.hl {
    display: flex;
}

.wiggle {
    animation: floatUpDown 6s ease-in-out infinite alternate;
}

.wiggle-2 {
    animation: floatDownUp 6s ease-in-out infinite alternate;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes floatDownUp {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}


.root-container {
    display: grid;
    height: 100%;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;

    .logo-container, .navbar-container, .main-container {
        z-index: 10;
        border-bottom: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
            width: 60%;
            object-fit: contain;
            opacity: .75;
        }
    }

    .sidebar-container {
        div {
            transform: translateY(93px) rotate(270deg);
            font-size: 45px;
            position: sticky;
            top: 0;
            font-family: Poppins-SemiBold, sans-serif;
        }
    }
}

.legal-section {
    border-top: 1px solid var(--border-color);
    padding: 3rem 1rem 3rem 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    a {
        cursor: pointer;
        font-family: Poppins-Regular, sans-serif;

        &:hover {
            text-decoration: underline;
        }
    }
}

video {
    max-width: 700px;
    border-radius: 1rem;
}